<div class="month-navigator">
  <h4 class="sidebar-title">Navigate</h4>

  <ul>
    <% @months.each do |m| %>
      <li id="<%= m.id %>"><%= link_to m.name, root_path(:id => m.id) %></li>
    <% end %>
  </ul>
</div>