<div class="practice-hours">
  <h4 class="sidebar-title">
    <%= @current_month.name %>
    <%= @current_month.yyyymm[0..3] %> 
  </h4>
  <%= @mms %> Session Minutes
  <br>
  (<%= (@mms.to_i / 60).round(2) %> hrs)
</div>