<div class="side-footer">
  <a href="https://en.wikipedia.org/wiki/Sia_(god)">
    <% if current_user %>
    	<%= image_tag "sia.png", :class => "sia" %>
    <% end %>
    <div><strong>sia inc</strong></div>
  </a>
</div>
