<div class="side-footer">
  <a href="https://en.wikipedia.org/wiki/Sia_(god)" target="_blank">
    <% if current_user %>
    	<img src="/assets/sia.png" height="50" width="50">
    <% end %>
    <div class="sia"><strong>sia inc</strong></div>
  </a>
</div>
