<div class="side-footer">
  <a href="http://www.lukekedz.com/about" target="_blank">
    <%= image_tag "sia.png", :class => "sia" %>
    <% if current_user %>
        <div><strong>sia inc</strong></div>
    <% end %>
  </a>
</div>
