<div class="side-footer">
  <a href="https://en.wikipedia.org/wiki/Sia_(god)">
    <%= image_tag "sia.png", :class => "sia" %>
    <% if current_user %>
        <div><strong>sia</strong></div>
    <% end %>
  </a>
</div>
